.grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: block;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
  }
  img {
      max-width: 200%;
      display: block;
      height: 100px
    }